*.class

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
.rar

# Eclipse #
.settings
.project
.classpath
.studio
target

# Apple # 
.DS_Store

# BlueJ files
*.ctxt

# Intellij #
.idea
*.iml
*.log

# VSCode
.vscode

# logback
logback.out.xml

/.metadata/